<div class="mat-elevation-z8">
   
    <div *ngIf="type">
        <mat-list>
            <mat-list-item>
                <mat-icon aria-label="Types icon">device_unknown</mat-icon><span class="capitalize">{{type.name}}</span>
                <span class="spacer"></span>
                <button mat-icon-button (click)="back()"><mat-icon aria-label="Close icon">close</mat-icon></button>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title><span>Details</span></mat-panel-title>
            </mat-expansion-panel-header>
            <app-type-detail-panel></app-type-detail-panel>
        </mat-expansion-panel>
        
        <mat-divider></mat-divider>

    </div>

    <mat-card *ngIf="!type">
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </mat-card>

</div>