.mat-expansion-panel {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.mat-select,
.mat-input-element {
    padding-left: 10px;
    padding-right: 10px;
}

.mat-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-raised-button {
    margin-left: 10px;
    margin-right: 10px;
}
  
.mat-form-field {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
 
.mat-icon {
    margin: 0 10px;
}

.full-width-table {
    width: 100%;
}

.details-panel-table {
    height: 520px;
}

.details-cell {
    position: relative;
}

.details-cell-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.terminal-cell {
    position: relative;
    width: 60%;
}

.terminal-cell-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.terminal-cell-placeholder {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.terminal-cell-placeholder-image {
    object-fit: contain;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.capitalize {
    text-transform: capitalize;
 }