<div class="mat-elevation-z8" *ngIf="terminalUrlSafe">

    <mat-list>

        <mat-list-item>
            <mat-icon aria-label="Terminal icon">computer</mat-icon><span>Terminal</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="openInNew();"><mat-icon aria-label="New icon">open_in_new</mat-icon></button>
            <button mat-icon-button (click)="destroy();back();"><mat-icon aria-label="Close icon">close</mat-icon></button>
        </mat-list-item>

    </mat-list>

    <mat-divider></mat-divider>

    <mat-card *ngIf="terminalReady === false">
        <!--<mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>-->
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </mat-card>

    <div class="terminal-wrapper" *ngIf="terminalReady === true">
        <iframe class="terminal-container" [src]="terminalUrlSafe"></iframe>
    </div>

</div>