<div *ngIf="terminalUrlSafe">
    
  <mat-list *ngIf="terminalReady === true">
    <mat-list-item>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="New browser tab" matTooltipPosition="left" (click)="openInNew();"><mat-icon aria-label="New icon">open_in_new</mat-icon></button>
    </mat-list-item>
  </mat-list>

  <mat-card *ngIf="terminalReady === false" class="spinner">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </mat-card>

  <div *ngIf="terminalReady === true" class="terminal-wrapper">
    <iframe class="terminal-container" [src]="terminalUrlSafe"></iframe>
  </div>

</div>
