<div *ngIf="topic">
    <mat-list>

        <mat-list-item>
            <mat-form-field>
                <input matInput value="{{topic.name}}" placeholder="name" readonly>
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput [(ngModel)]="topic.description" placeholder="description">
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <span class="spacer"></span>
            <button mat-icon-button (click)="save()"><mat-icon aria-label="Save icon">save</mat-icon></button>
        </mat-list-item>
        
    </mat-list>
</div>

<mat-card *ngIf="!topic">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</mat-card>