<div class="mat-elevation-z8">
   
    <div *ngIf="module">
        <mat-list>
            <mat-list-item>
                <mat-icon aria-label="Modules icon">extension</mat-icon><span class="capitalize">{{module.title}}</span>
                <span class="spacer"></span>
                <button mat-icon-button (click)="back()"><mat-icon aria-label="Close icon">close</mat-icon></button>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title><span>Details</span></mat-panel-title>
            </mat-expansion-panel-header>
            <app-module-detail-panel></app-module-detail-panel>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

    </div>

    <mat-card *ngIf="!module">
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </mat-card>

</div>