.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.mat-icon {
  margin: 0 10px;
}

.footer-logo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 380px;
  opacity: 0.5;
  z-index: -2;
}

.bottom-content{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

.toolbar{
  background-color: transparent;
  width: 72px;
}

.toggle-toolbar-button{
  z-index: 15;
  margin-bottom: 10px;
  background-color: rgb(66, 66, 66);
  color: white;
  position: fixed;
}

::ng-deep .mat-toolbar-single-row {
  height: 48px;
}

::ng-deep .mat-drawer-content.mat-sidenav-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::ng-deep .mat-drawer-content.mat-sidenav-content::-webkit-scrollbar {
  width: 0 !important 
}