<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport *ngIf="isLoggedIn$ | async"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div>
      <mat-nav-list>
        <a mat-list-item matTooltip="Assets" matTooltipPosition="right"><button mat-icon-button [routerLink]="'/assets'"><mat-icon aria-label="Assets icon">devices</mat-icon></button></a>
        <a mat-list-item matTooltip="Modules" matTooltipPosition="right"><button mat-icon-button [routerLink]="'/modules'"><mat-icon aria-label="Modules icon">extension</mat-icon></button></a>
        <a mat-list-item matTooltip="Processes" matTooltipPosition="right"><button mat-icon-button [routerLink]="'/processes'"><mat-icon aria-label="Processes icon">account_tree</mat-icon></button></a>
        <a mat-list-item matTooltip="File Manager" matTooltipPosition="right"><button mat-icon-button [routerLink]="'/filemanager'"><mat-icon aria-label="File manager icon">folder</mat-icon></button></a>
      </mat-nav-list>
    </div>
    <div class="bottom-content">
      <mat-nav-list>
        <a mat-list-item matTooltip="Logout" matTooltipPosition="above"><button mat-icon-button (click)="onLogout()"><mat-icon aria-label="Logout icon">logout</mat-icon></button></a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isLoggedIn$ | async" class="toolbar bottom-content">
      <button mat-fab *ngIf="isHandset$ | async" class="toggle-toolbar-button" aria-label="Toggle sidenav" (click)="toggle()">
        <mat-icon matTooltip="Menu" aria-label="Toggle icon">arrow_forward</mat-icon>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>

    <img class="footer-logo" src="assets/images/footer_logo.png">

  </mat-sidenav-content>
</mat-sidenav-container>