.mat-expansion-panel {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    margin: auto;
}

.mat-select,
.mat-input-element {
    padding-left: 10px;
    padding-right: 10px;
}

.mat-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-raised-button {
    margin-left: 10px;
    margin-right: 10px;
}
  
.mat-form-field {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
 
.mat-icon {
    margin: 0 10px;
}

.row-icon {
    width: 32px;
    height: 32px;
}

.full-width-table {
    width: 100%;
}

.right {
    padding-right: 10px;
    text-align: right;
}

.spacer {
    flex: 1 1 auto;
}