.mat-card,
.mat-expansion-panel {
  box-shadow: none;
  border-radius: 0;
}

.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-input-element {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-form-field {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-icon {
  margin: 0 10px;
}

.mat-cell .mat-icon {
  margin: auto;
}

.full-width-table {
  width: 100%;
}

.terminal,
.details {
  color: inherit;
}

.row-icon {
  width: 32px;
  height: 32px;
}

.spacer {
  flex: 1 1 auto;
}

.center {
  width: 33%;
  text-align: center;
}

.left {
  width: 33%;
  text-align: left;
}

.right {
  width: 33%;
  text-align: right;
}

::ng-deep .mat-tab-label {
  margin: 0;
  padding: 0;
}

::ng-deep .mat-tab-label-content {
  width: 100%;
  display: contents;
}